@model dynamic
@using cyberpet.Models
@using static cyberpet.Models.Invite
@using static cyberpet.Models.RegisterModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Invite</h1>
    @{
        var msg = ViewBag.message;
    }
    <h2>@msg</h2>
    <button onclick="goBack()">Go Back to Invite</button>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>