@model dynamic
@using cyberpet.Models
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using static cyberpet.Models.Invite
@using static cyberpet.Models.RegisterModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Invite</title>
</head>
<body>
<div>
    <h1>Invite</h1>
    @{
        var data = (Invite) ViewData["invite"];
        var newUser = (bool) ViewData["newUser"];
    }
    <h2>Invite ID: @data.Id</h2>
    <h3>You have been invited to Household @data.Household.Name by @data.Inviter.DisplayName</h3>
    @if (newUser)
    {
        <div class="row">
            <div class="col-md-9">
                <form asp-controller="Invite" asp-action="CreateUser" method="post">
                    <div class="form-group">
                        <label asp-for="DisplayName" class="control-label">Display Name</label>
                        <input asp-for="DisplayName" class="form-control" name="DisplayName"/>  
                        <span asp-validation-for="DisplayName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Email</label>
                        <input asp-for="Email" class="form-control" value="@data.InviteeEmail" name="Email"/>  
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Password</label>
                        <input asp-for="Password" class="form-control" name="Password"/>  
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">  
                        <button type="submit">Create new user</button>
                    </div>
                    <b>@ViewBag.message</b>
                </form>
            </div>
        </div>
    }
    
    else
    {
        <button onclick="acceptInvite()">Accept Invite</button>
    }
</div>
<script>
    async function acceptInvite() {
        const inviteId = '@(ViewBag.inviteId)';
        console.log(inviteId);
        const res = await fetch("", {
            method: "patch",
            headers: {
                "Content-Type": "application/json"
            }
        });
        
        const x = await res.json();
        console.log(x);
    }
</script>
</body>
</html>